doctype html
html
  head 
    meta(http-equiv="Content-Security-Policy", content="connect-src https://mc336wmst6qwdrrw6bfzsq65tzd0.pub.sfmc-content.com/")
    title= title
    link(rel='stylesheet', href='C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public/styles/custom.css')
    script(src="C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public//javascript/libs/jquery.min.js")
    script(src="C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public//javascript/libs/jquery.validate.min.js")
    script(src="C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public//javascript/libs/postmonger.js")
    script(src="C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public//javascript/customActivity.js")
    script(src="C:/Users/c/Documents/SFMC/Journery_Builder_Custom_Activity_2/public//javascript/teste.js")
  body
    block content
